.servicesMainSection {
  background: linear-gradient(180deg, #F2F7FB 0%, rgba(242, 247, 251, 0) 100%);
}

.mainCard {
  background: #FFFFFF;
  padding: 40px 20px;
  border: 1px solid #EEF6FD;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mainCard:hover {
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.15);
  transition: all .5s;
}


.cardImg {
  height: 120px;
  width: 120px;
  margin-bottom: 24px;
}

.cardBtn {
  border: none;
  background: none;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.01em;
  margin-top: 42px;
  color: #0060AF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cardBtn:hover{
  gap: 16px;
}


.marginTop {
  margin-top: 60px;
  position: relative;
}

.btnSeemore {
  background: #0060AF;
  border-radius: 6px;
  padding: 16px 48px;
  border: none;
  color: white;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 60px;
}

.btnSeemore:hover {
  background:white;
  color: black;
  border: 1px solid black;
  transition: 1s;
}




.mainCard:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(../Assets/Vector\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  transform: scale(0);
  z-index: -1;
  transition: all .5s;
  opacity: 0;
}


.mainCard:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(../Assets/Vector\ 2.png);
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
  transition: all .5s;
  transform: scale(0);
  opacity: 0;
}

.mainCard:hover::before,
.mainCard:hover::after {
  transform: scale(1);
  opacity: 1;
}

.img1{
  position: absolute;
  left: -180px;
  top: 31%;
  z-index: 1;
}
.img2{
  position: absolute;
  right: -180px;
  top: 31%;
  z-index: 1;
}

.img4{
  position: absolute;
  left: -40px;
  top: -40px;
  z-index: 1;
}
.img5{
position: absolute;
right: -40px;
bottom: -16px;
z-index: 1;
}