.btnPa{
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0060AF;
  border-radius: 50%;
}

.cardTestimonial{
  background: #0060AF;
  border-radius: 6px;
  padding: 24px;
  text-align: center;
  color: white;
  opacity: .5;
}
.cardTestimonialBig{
  background: #0060AF;
  border-radius: 6px;
  padding: 24px;
  text-align: center;
  color: white;
}