* {
  margin: 0;
  padding: 0;

}

/* gap */
.gap-nav {
  gap: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* font size */
.navFontF {
  font-family: Open Sans;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 22px;
}
.servicesFont{
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
}
.servicesPFont{
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  
}
.colorFont{
  color: #0060AF;
}


.smallFont {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.cardHeaderFont {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: center;
}
.footerFont{
  font-family: Open Sans;
font-size: 22px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

/* padding */
.navPadding {
  padding: 25px 0px !important
}
/* margin */
.marginTop {
  margin-top: 100px;
  margin-bottom: 100px;
}
.marginTop2{
  margin-top: 100px;
}
.marginTop60{
  margin-top: 60px;
}
.marginBottom{
margin-bottom: 100px;
}
.marginBottom2{
margin-bottom: 24px;
}
/* bg color */
.bgTechnology{
  background: linear-gradient(180deg, #F3F9F9 0%, rgba(238, 246, 253, 0) 100%);
  padding-top: 60px;
}
.bgProcess{
  background: linear-gradient(180deg, #F3F9F9 0%, rgba(238, 246, 253, 0) 100%);
}

/* responsive */
@media screen and (max-width: 1200px) {
 .gap-nav{
  gap: 40px;
 }
}@media screen and (max-width: 767px) {
 .marginTopChose{
 margin-top: 24px;
 }
 .marginBottom{
  margin-bottom: 24px;
 }
}



li{
  list-style: none;
}
 ul{
padding-left: 0 !important
}

.iconsSize{
  height: 32px;
  width: 32px;
  background: #0060AF;
  border-radius: 50%;
  padding: 5px;
  color: white;
}