* {
  margin: 0;
  padding: 0;

}

/* gap */
.gap-nav {
  gap: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
.colorFont2{
  color: #464646;
}
/* font size */
.navFontF {
  font-family: Open Sans;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 22px;
}
.servicesFont{
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
  color:  #464646;
}
.servicesPFont{
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  
}
.colorFont{
  color: #0060AF;
}


.smallFont {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.fontHover{
  font-family: Open Sans;
font-size: 16px;
font-weight: 500;
line-height: 26px;
}
.nameFontHover{
  font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 26px;


}

.cardHeaderFont {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: center;
}
.footerFont{
  font-family: Open Sans;
font-size: 22px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

/* padding */
.navPadding {
  padding: 34px 0px !important
}
.navPadding:hover{
 
  color: #0060AF !important
}
/* img height */
.imgHeight1{
  height: 398px;
}

.heightWidth{
  height: 64px;
  width: 64px;
  background: #0060AF;
  border-radius: 6px;
}
/* .imgHeight2{
  height: 134px;
} */
.imgHeight4{
  /* height: 404px; */
  position: absolute;
  right: 24px;
  bottom: 0;
  
}
.imgHeight3{
  height: 130px;
}
/* margin */
.marginTop {
  margin-top: 100px;
  margin-bottom: 100px;
}
.marginTop2{
  margin-top: 100px;
}
.marginTop60{
  margin-top: 60px;
}
.marginBottom{
margin-bottom: 100px;
}
.marginBottom2{
margin-bottom: 24px;
}
.marginTopTest{
  margin-top:76px !important
 }
.marginRightLeft{
  
}
.pClintImg{
  padding: 1px 16px;

}
/* width */
.maxWidth{
  max-width: 257px;
  /* padding-right: 20px; */
 
}
/* bg color */
.bgTechnology{
  background: linear-gradient(180deg, #F3F9F9 0%, rgba(238, 246, 253, 0) 100%);
  padding-top: 60px;
}
.bgProcess{
  background: linear-gradient(180deg, #F3F9F9 0%, rgba(238, 246, 253, 0) 100%);
}

/* responsive */
@media screen and (max-width: 1200px) {
 .gap-nav{
  gap: 40px;
 }
}
@media screen and (max-width: 991px) {
  .flexDirection{
    flex-direction: column !important;
  }
  }



@media screen and (max-width: 767px) {
 .marginTopChose{
 margin-top: 24px;
 }
 .marginBottom{
  margin-bottom: 24px;
 }

 .paddingZero{
  padding: 0 !important;
 }
 .textAlignCenter{
  text-align: center;
 }
 .gap-nav{
  gap: 20px;
 }
 /* .justiFyContent{
  justify-content: !important;
 } */
}



li{
  list-style: none;
}
 ul{
padding-left: 0 !important
}

.iconsSize{
  height: 32px;
  width: 32px;
  background: #0060AF;
  border-radius: 50%;
  padding: 5px;
  color: white;
}

a{
  text-decoration: none !important;
  color:  #464646 !important
}